@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5rem 1.5rem;
}

.header_logo_div img {
  width: 100px;
}

.header_links {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

.header_links a {
  color: #585989;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 0.85rem;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  gap: 2rem;
  padding: 3rem 1.5rem;
}

.hero_img_wrapper img {
  max-width: 100%;
}

.hero_text_wrapper {
  text-align: center;
}

.hero_text_wrapper h1 {
  color: #070439;
  font-size: 1.6rem;
  line-height: 2rem;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.hero_text_wrapper p {
  color: #585989;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  line-height: 1.4rem;
  margin-bottom: 1.75rem;
  padding-inline: 0.5rem;
  font-size: 0.9rem;
}

.hero_text_wrapper .hero_input_div {
  position: relative;
}

.hero_text_wrapper .hero-error {
  visibility: hidden;
  position: absolute;
  left: 0;
  top: 100%;
  font-size: 0.9rem;
  font-weight: 400;
  color: red;
}

.hero_text_wrapper .hero-error.active {
  visibility: visible;
}

.hero_text_wrapper .hero_input {
  border-radius: 0.2rem;
  border: 0.12rem solid #585989;
  width: 100%;
  padding: 0.65rem 1rem;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 1rem;
}

.hero_text_wrapper .submit_button {
  border-radius: 0.2rem;
  cursor: pointer;
  display: inline-block;
  width: 100%;
  background-color: #3065f8;
  color: white;
  padding: 0.75rem 0;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 0.9rem;
  border: none;
  margin-top: 1.5rem;
}

.hero_text_wrapper .submit_button:hover {
  opacity: 0.7;
}

.main-top {
  background-color: #f6f6fe;
  padding: 3.5rem 1.5rem 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  gap: 4rem;
  margin-top: 8rem;
  position: relative;
}

.main-top picture {
  position: absolute;
  left: 0;
  bottom: 99%;
  width: 100%;
}

.main-top picture img {
  min-width: 100%;
}

.main-top-image-wrapper img {
  max-width: 100%;
}

.main-top-text-wrapper h2 {
  text-align: center;
  color: #070439;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

.main-top-text-wrapper > p {
  color: rgba(7, 4, 57, 0.35);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  line-height: 1.5rem;
  font-size: 0.85rem;
}

.main-top-text-wrapper p + P {
  margin-top: 1rem;
}

.main-top-text-wrapper .how-works-wrapper {
  margin-top: 2.5rem;
  margin-bottom: 3rem;
}

.main-top-text-wrapper .how-works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 160px;
  margin: 0 auto;
  gap: 0.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.main-top-text-wrapper .how-works img {
  height: 20px;
  width: 20px;
}

.main-top-text-wrapper h3 {
  text-align: center;
  color: #3c9f8f;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-top-text-wrapper .main-top-line {
  border: none;
  height: 2px;
  background-color: #3c9f8f;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -5px;
}

.main-top-text-wrapper .comment-div {
  max-width: 300px;
  margin: 0 auto;
  background-color: white;
  padding: 1rem 1rem 1rem 1.5rem;
}

.main-top-text-wrapper .comment-div > p {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: #585989;
  font-size: 0.7rem;
  line-height: 1.2rem;
  margin-top: 0.3rem;
}

.main-top-text-wrapper .comment-div .avatar-div {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.4rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-top-text-wrapper .comment-div .avatar-div .avatar {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  overflow: hidden;
}

.main-top-text-wrapper .comment-div .avatar-div .avatar img {
  max-width: 100%;
}

.main-top-text-wrapper .comment-div .avatar-div .avatar-text h4 {
  color: #070439;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 0.7rem;
}

.main-top-text-wrapper .comment-div .avatar-div .avatar-text p {
  color: #585989;
  font-family: "Open Sans", sans-serif;
  font-size: 0.5rem;
}

.main-bottom {
  background-color: rgba(73, 73, 116, 0.8);
  color: white;
  text-align: center;
  padding: 2rem 2.5rem 2.5rem;
}

.main-bottom-text-wrapper h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  margin-bottom: 1.3rem;
  font-size: 1.1rem;
}

.main-bottom-text-wrapper p {
  color: rgba(255, 255, 255, 0.7);
  font-family: "Raleway", sans-serif;
  font-size: 0.95rem;
  line-height: 1.3rem;
  margin-bottom: 1rem;
}

.main-bottom-form-wrapper .bottom-error {
  color: rgba(255, 255, 255, 0.7);
  visibility: hidden;
}

.main-bottom-form-wrapper .bottom-error.active {
  visibility: visible;
}

.main-bottom-form-wrapper .bottom-input {
  width: 80%;
  border: none;
  padding: 0.5rem 0.5rem;
  border-radius: 0.15rem;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 0.85rem;
}

.main-bottom-form-wrapper .submit_button {
  cursor: pointer;
  border: none;
  width: 80%;
  background-color: #3065f8;
  color: white;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  padding: 0.5rem;
  font-size: 0.7rem;
  border-radius: 0.15rem;
  margin-top: 0.6rem;
}

.main-bottom-form-wrapper .submit_button:hover {
  opacity: 0.6;
}

.footer {
  padding: 3rem 2rem 3rem;
  background-color: #070439;
  color: rgba(255, 255, 255, 0.7);
}

.footer-img-div {
  margin-bottom: 2rem;
}

.footer-img-div svg path {
  fill: #fff;
}

.footer-links-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

.footer ul {
  list-style: none;
}

.footer a {
  text-decoration: none;
  color: inherit;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

.phone,
.email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

.phone,
.email img {
  -o-object-fit: contain;
     object-fit: contain;
}

.phone_email p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

.phone {
  margin-bottom: 1rem;
}

.about_us li + li {
  margin-top: 1rem;
}

.about_us a:hover {
  color: #585989;
}

.contact li + li {
  margin-top: 1rem;
}

.contact a:hover {
  color: #585989;
}

.social-links {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

.social-links li {
  height: 30px;
  width: 30px;
  border: 1px solid white;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social-links li:hover > a {
  color: #3065f8;
}

.social-links li:hover {
  border-color: #585989;
}

.social-links a {
  margin: auto;
  color: white;
}

@media (min-width: 800px) {
  .header {
    padding: 3rem;
  }
  .header_logo_div img {
    width: 150px;
  }
  .header_links {
    gap: 2rem;
  }
  .header_links a {
    font-weight: 400;
    font-size: 1rem;
  }
  .hero {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 1rem 3rem;
    gap: 1rem;
  }
  .hero > * {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .hero_text_wrapper {
    text-align: left;
    padding-top: 7rem;
  }
  .hero_text_wrapper h1 {
    font-size: 2.5rem;
    line-height: 3.2rem;
  }
  .hero_text_wrapper p {
    font-size: 1.1rem;
    font-weight: 700;
    padding-inline: initial;
    max-width: 90%;
    min-width: 360px;
  }
  .hero_text_wrapper form {
    max-width: 80%;
    min-width: 360px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1rem;
  }
  .hero_text_wrapper form .hero_input_div {
    -webkit-box-flex: 2.5;
        -ms-flex: 2.5;
            flex: 2.5;
  }
  .hero_text_wrapper form .hero_input {
    padding: 0.75rem;
    margin-bottom: initial;
  }
  .hero_text_wrapper form .submit_button {
    width: initial;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    margin-top: initial;
  }
  .main-top {
    margin-top: 16rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 3.5rem 3rem 3rem;
  }
  .main-top > * {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .main-top-text-wrapper h2 {
    text-align: left;
    font-size: 2.3rem;
  }
  .main-top-text-wrapper > p {
    color: #070439;
    font-size: 1rem;
    max-width: 85%;
  }
  .main-top-text-wrapper .how-works {
    margin: initial;
  }
  .main-top-text-wrapper .comment-div {
    margin: initial;
  }
  .main-top-text-wrapper .comment-div > p {
    font-size: 0.75rem;
  }
  .main-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 4rem 3.5rem;
    text-align: left;
  }
  .main-bottom-text-wrapper {
    max-width: 500px;
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
  }
  .main-bottom-text-wrapper h3 {
    font-size: 2rem;
  }
  .main-bottom-text-wrapper p {
    font-size: 1rem;
    margin-bottom: initial;
  }
  .main-bottom-form-wrapper {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
  }
  .main-bottom-form-wrapper .bottom-input {
    padding: 0.75rem;
    width: 80%;
  }
  .main-bottom-form-wrapper .submit_button {
    width: 35%;
    min-width: 140px;
    padding: 0.75rem;
  }
  .footer {
    padding: 4rem 3.5rem;
  }
  .footer-links-div {
    width: 80%;
    min-width: 700px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer .social-links {
    margin: initial;
  }
}
/*# sourceMappingURL=main.css.map */